<div class="col-md-8 offset-md-2 center-block">
    <div>
      <h1 class="text-center">Gráfica que muestra los sabores que existen en general</h1>
      <br>
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
  <br>
  <div>
    <button mat-button mat-raised-button class="btn btn-success" (click)="actualizarS()">Mostrar valores reales</button>
    <button mat-button mat-raised-button class="btn btn-warning" (click)="pieChartLegend=!pieChartLegend">Mostrar simbología</button>
  </div>

